.vscode/*
*.swp
*.swo
*~

node_modules/

dist/

logs/
*.log
npm-debug.log*

.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

.DS_Store

.git/
.gitignore
README.md
.dockerignore
.prettierrc
