.container {
  height: 3.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.container.isLoading {
  opacity: 0.7;
  pointer-events: none;
}

.container.hasError {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  animation: shake 0.3s ease-in-out 1;
}

.container span.score {
  font-size: var(--fs-xsmall);
  font-weight: var(--fw-medium);
  color: var(--clr-black);
}

.container .upvoteBtn,
.container .downvoteBtn {
  height: 100%;
  width: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.container .upvoteBtn:disabled,
.container .downvoteBtn:disabled {
  cursor: not-allowed;
}

.container .upvoteBtn:hover,
.container .downvoteBtn:hover {
  background-color: var(--clr-grey-200);
}

/* ------------------ Styles when content is a post ------------------  */

.container.voteForPostBtn {
  background-color: var(--clr-grey-100);
}

.container.voteForPostBtn.liked {
  background-color: var(--clr-red-100);
}

.container.voteForPostBtn.disliked {
  background-color: var(--clr-purple-100);
}

.container.voteForPostBtn.liked span.score,
.container.voteForPostBtn.disliked span.score {
  color: var(--clr-white);
}

.container.voteForPostBtn .upvoteBtn svg path:first-of-type,
.container.voteForPostBtn .downvoteBtn svg path:first-of-type {
  fill: var(--clr-black);
}

.container.voteForPostBtn .upvoteBtn svg path:last-of-type,
.container.voteForPostBtn .downvoteBtn svg path:last-of-type {
  fill: var(--clr-grey-100);
}

.container.voteForPostBtn.liked .upvoteBtn:hover,
.container.voteForPostBtn.liked .downvoteBtn:hover {
  background-color: var(--clr-red-200);
}

.container.voteForPostBtn.disliked .upvoteBtn:hover,
.container.voteForPostBtn.disliked .downvoteBtn:hover {
  background-color: var(--clr-purple-200);
}

.container.voteForPostBtn.liked .upvoteBtn svg path,
.container.voteForPostBtn.liked .upvoteBtn:hover svg path,
.container.voteForPostBtn.disliked .downvoteBtn svg path,
.container.voteForPostBtn.disliked .downvoteBtn:hover svg path {
  fill: var(--clr-white);
  stroke: var(--clr-white);
}

.container.voteForPostBtn.disliked .upvoteBtn svg path:first-of-type,
.container.voteForPostBtn.liked .downvoteBtn svg path:first-of-type {
  fill: var(--clr-white);
}

.container.voteForPostBtn.disliked .upvoteBtn svg path {
  stroke: var(--clr-white);
  fill: var(--clr-purple-100);
}

.container.forPost.disliked .upvoteBtn:hover svg path:last-of-type {
  fill: var(--clr-purple-200);
}

.container.voteForPostBtn.liked .downvoteBtn svg path {
  stroke: var(--clr-white);
  fill: var(--clr-red-100);
}

.container.voteForPostBtn.liked .downvoteBtn:hover svg path:last-of-type {
  fill: var(--clr-red-200);
}

/* ------------------  Styles when content is a comment ------------------  */

.container.voteForCommentBtn {
  background-color: transparent;
}

.container.voteForCommentBtn .upvoteBtn svg path:first-of-type,
.container.voteForCommentBtn .downvoteBtn svg path:first-of-type {
  fill: var(--clr-grey-400);
}

.container.voteForCommentBtn .upvoteBtn svg path:last-of-type,
.container.voteForCommentBtn .downvoteBtn svg path:last-of-type {
  fill: var(--clr-white);
}

.container.voteForCommentBtn .upvoteBtn:hover svg path:last-of-type,
.container.voteForCommentBtn .downvoteBtn:hover svg path:last-of-type {
  fill: var(--clr-grey-200);
}

.container.voteForCommentBtn.liked .upvoteBtn svg path,
.container.voteForCommentBtn.liked .upvoteBtn:hover svg path {
  fill: var(--clr-red-100);
  stroke: var(--clr-red-100);
}

.container.voteForCommentBtn.disliked .downvoteBtn svg path,
.container.voteForCommentBtn.disliked .downvoteBtn:hover svg path {
  fill: var(--clr-purple-100);
  stroke: var(--clr-purple-100);
}

/* ------------------  Hover styles for both port and comment ------------------  */

.container .upvoteBtn:hover svg path {
  stroke: var(--clr-red-100);
}

.container .upvoteBtn:hover svg path:first-of-type {
  fill: var(--clr-red-100);
}

.container .downvoteBtn:hover svg path {
  stroke: var(--clr-purple-100);
}

.container .downvoteBtn:hover svg path:first-of-type {
  fill: var(--clr-purple-100);
}

/* animations */

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}
