:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body,
input,
button,
select,
textarea {
  color: var(--clr-text);
  font-family: var(--ff-noto);
  font-size: var(--fs-base);
}

body {
  background-color: var(--clr-white);
  line-height: 1.6;
}
